/*
  Click and drag to attract
  Right click to repulse
  Mouse-wheel click to create a time dilation field
  Use the Controls to decrease or increase
  the particle count to tweak performance.
*/

body, html {
  margin: 0;
  padding: 0;
 background-color: black;
  
}

body {
  canvas {
    display: block;
    cursor: crosshair;

  }

}
#fireWorkCount
{
  color: white;
  text-align: center;
  font-family: "Roboto",sans-serif;
  font-size: 10vh;
}

canvas {
  cursor: crosshair;
  display: block;
 
}

.mySlides{
 display: none;
height: 500px;
width: 100%;}

.imgp
{
  height: 70%;
  width: 70%;
  margin: 2px;
  padding: 2px;
  border: 1px solid darkorange;
  margin-top: 20px;
}
.button
{
  margin-top: 30px;
 
  color: white;
  margin-right: 50px;

}
.h11
{
  position: absolute;
  width: 1300px;
  margin-right: 600px;
  margin-top: 0;
  color: white;
  display: run-in;


}
.h11 h1
{
  margin-left: 250px;
}
.btn
{
  border: 1px solid white;
  padding: 10px 70px;
  color: white;
  text-decoration: none;
  margin-right: 200px;
  font-size: 13px;
  text-transform: uppercase;
  position: center;
  


}
.btn-one
{
  background-color: darkorange;
  font-family: "Roboto",sans-serif;
  position: center;


}
.btn-two
{
  font-family: "Roboto",sans-serif;
  position: center;
  
}
.btn-two:hover
{
  background-color: darkorange;
  transition: all 0.5s ease in;
}

 .w1
{
  max-width: 500px;
  margin-left: 425px;
 }
.centered {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-300%, -50%);
    color: #ccc;
    width: 100px;
    font-size: 200px;
    margin-right:2000px;
    opacity: 0.5;
    filter: alpha(opacity=50);

  }
  .container {
    position: relative;
    text-align: center;

    color: white;
}
.f1
{
  
  margin-top: 10px;
}
.txt
{
   background-color: #ccc;

}
.space
{
  margin: 100px;
  margin-top: 100px;
  margin-bottom: 200px;
}
.p1
{ transform: translate(-450%, -50%);

}

